<!-- [ngClass]="{hide: showAddTask}" -->
<form (ngSubmit)="onSubmit()" *ngIf="!showAddTask"> <!-- (ngSubmit) -> Directiva (Angular Event) -->
  <fieldset class="form-control">
    <label for="text">Task</label>
    <input
      type="text"
      name="text"
      id="text"
      placeholder="Add a Task"
      [(ngModel)]="text"
    />
  </fieldset>

  <fieldset class="form-control">
    <label for="day">Day & Time</label>
    <input
      type="text"
      name="day"
      id="day"
      placeholder="Add a Day & Time"
      [(ngModel)]="day"
    />
  </fieldset>

  <fieldset class="form-control">
    <label for="reminder">Reminder</label>
    <input
      type="checkbox"
      name="reminder"
      id="reminder"
      [(ngModel)]="reminder"
    />
  </fieldset>

  <input
    type="submit"
    value="Save Task"
  />
</form>
